

.weather-component {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.weather-header {
  margin-bottom: 10px;
}

.weather-data {
  margin-bottom: 5px;
}

.weather-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px
}

.weather-icon {
  width: 30px;
  height: 30px;
}

.loader {
  display: block;
  margin: 20px auto;
}

.forecast-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.forecast-card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.spacer {
  margin-top: 10px;
  padding: 10px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  outline: 2px solid black;
  background-color: transparent;
}
